/* ---------------------------------------- */
/* Estilo letra general  */
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}


/* ------------------------- Estilo Header ------------------------- */
/* Estilo Seccion1 */
header, .navbar{ background-color: black }

.navbar-nav{
    height: 150px;
    /*flexbox*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link{ 
    font-weight: 800;
    color: white 
}

.navbar-nav .nav-link:hover { color: #ff0066 }

.img-logo{
    height: 150px;
    /*flexbox*/
    display: flex;
    align-items: center;
}

/* Estilo Seccion2 */
.img-overlay{
    /*flexbox*/
    width: 100%;
    display: flex;
    align-items: center;
}

.text-overlay{
    position: absolute;
    color: white;
}

.btn-overlay{
    background-color:#ff0066;
    font-weight: 800;
    color: white;
}







/* Media Querys - Pendiente */

.titulo{ font-size: 2.5rem }

.subtitulo{ font-size: 1.5rem }




