<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Revista </title>
    <!-- Css layout -->
    <link rel="stylesheet" href="../../assets/layout/reset.css">
    <link rel="stylesheet" href="../../assets/layout/boxes.css">
    <link rel="stylesheet" href="../../assets/layout/color.css">
    <!-- Css lectura -->
     <link rel="stylesheet" href="../../assets/modules/lectura/lectura.css">
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <header class="header">
        <a class="header__a" href="../../index.html"> 
          <h1 class="header__h1">
            <span class="header__span">C</span>reative<span class="header__span">IUE</span>
          </h1>
        </a>
      </header>
      <!-- main -->
      <main class="main">
        <nav class="main__nav">
          <button class="main__button"> ⬅ Prev </button>
          <span class="main__span" id="page"> 1 / 24 </span>
          <button class="main__button"> Next ➡ </button>
        </nav>
        <section class="main__section">
          <!-- figure -->
          <figure class="main__figure">
            <picture class="main__picture">
              <img src="../../assets/modules/lectura/img/image01.png" class="main__img" alt="portada">
            </picture>
          </figure>
        </section>
      </main>
      <!-- footer -->
      <footer class="footer">
        <p> © 2025 Plantilla creada por <span class="footer__span">C</span>reative<span class="footer__span">IUE</span> </p>
      </footer>
    </div>
  </body>
</html>